* {
  max-width: 1080px;
}

#edu, #exp {
  display: inline-block;
}

#top {
  margin: 0 auto;
  width: 350px;
}

#project {
  font-weight: 900;
  font-size: 1.25em;
  padding-top:10px;
  ;
}

h1 {
  font-size: 50pt;
  color: darkblue;
  text-align: center;
}

h2 {
  font-size: 34pt;
  color: darkred;
}

h3 {
  font-size: 26pt;
}

body {
  background-color: dimgray;
}

header {
  background-color: lightslategrey;
  margin: 15px;
  max-width: 1060;
  border: black 5px ridge
}

article {
  background-color:lightseagreen;
  padding: 10px;
  margin:5px auto;
  max-width: 960px;
  border: olive 3px ridge;
  justify-content: center;

}